PyQt5==5.15.11
numpy==1.26.4
setuptools==65.5.1
natsort==8.0.2
scikit-image==0.19.1
PyWavelets==1.2.0
Pillow>=10.0.1
scipy==1.10.0
imagecodecs==2026.1.1
matplotlib==3.8.4
pyqtgraph==0.12.4
qimage2ndarray==1.9.0
humanfriendly==10.0
